body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:100%;
  line-height:1.6;
}

h1,h3,h4{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 2.8em;
  margin: 25px 0 05px;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
}

.headline h1 {
  font-size: 3.5em;
}

hgroup {

	color:$secondary-color;
  position: relative;
  padding-top: 200px;
}

h2 {
	font-family: "Libre Baskerville", Georgia, Times, serif;
	font-style: italic;
  font-size: 1.1em;
  margin: 0 0 25px;
  font-weight: 100;
  letter-spacing: 1px;
}

h3 {
  font-size: 2.8em;
  margin: 25px;
  font-weight: 300;
  font-style: normal;
}

h4 {
  font-size: 1.250em;
  margin: 30px 0 0 0;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-size: 16px;
  margin: 0 0 25px;
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0 34px $padding/2;
  line-height: 2.4em;
  letter-spacing: 1px;
  font-size: 0.875em;
}

.intro {
  font-family: "Libre Baskerville", Georgia, Times, serif;
  font-style: italic;
  font-size: 1.0em;
  line-height: 26px;
  font-weight: 400;
}

.skills h1 {
  padding: 45px 0 65px 0;
}

.portfolio-headline {
  color:$secondary-color;
}

pre{
  font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
  margin:0 0 $padding/2;
  padding:10px;
  background:#f5f5f5;
  border:1px solid rgba(0,0,0,.1);
  @include border-radius(5px);
  display:block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}